-- Ensure working_days is an array type and can handle values
-- This file acts as a correctness check or "fix" script if the user runs it.

DO $$
BEGIN
    -- Check if column exists, if not add it (idempotent check)
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'staff' AND column_name = 'working_days') THEN
        ALTER TABLE staff ADD COLUMN working_days text[] DEFAULT '{}';
    END IF;

    -- Update any NULLs to empty array if strictly required, 
    -- though NULL usually means "Any" in our app logic.
    -- Un-comment if you strictly want empty array:
    -- UPDATE staff SET working_days = '{}' WHERE working_days IS NULL;
    
END $$;
-- EMERGENCY FIX SCRIPT
-- Run this in your Supabase SQL Editor to fix "Error updating staff" and Settings issues.

BEGIN;

-- 1. Ensure 'working_days' column exists in 'staff' table
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'staff' AND column_name = 'working_days') THEN
        ALTER TABLE public.staff ADD COLUMN working_days text[] DEFAULT ARRAY['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday'];
    END IF;
END $$;

-- 2. RESET RLS POLICIES (Fix Permissions)
-- Allow Public/Anon access for development simplicity to prevent Empty Error {}

-- Enable RLS (Should be enabled generally)
ALTER TABLE public.staff ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.exam_sessions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.assignments ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.system_settings ENABLE ROW LEVEL SECURITY;

-- Drop existing restrictive policies
DROP POLICY IF EXISTS "Allow all for generic" ON public.staff;
DROP POLICY IF EXISTS "Allow public read access" ON public.staff;
DROP POLICY IF EXISTS "Allow public insert" ON public.staff;
DROP POLICY IF EXISTS "Allow public update" ON public.staff;
DROP POLICY IF EXISTS "Allow public delete" ON public.staff;

DROP POLICY IF EXISTS "Allow public read access" ON public.system_settings;
DROP POLICY IF EXISTS "Allow public insert" ON public.system_settings;
DROP POLICY IF EXISTS "Allow public update" ON public.system_settings;

-- Re-create simple "Allow All" policies for Staff
CREATE POLICY "Allow public read access" ON public.staff FOR SELECT USING (true);
CREATE POLICY "Allow public insert" ON public.staff FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow public update" ON public.staff FOR UPDATE USING (true);
CREATE POLICY "Allow public delete" ON public.staff FOR DELETE USING (true);

-- Re-create simple "Allow All" policies for System Settings
CREATE POLICY "Allow public read access" ON public.system_settings FOR SELECT USING (true);
CREATE POLICY "Allow public insert" ON public.system_settings FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow public update" ON public.system_settings FOR UPDATE USING (true);

-- Re-create simple "Allow All" policies for Assignments
DROP POLICY IF EXISTS "Allow public read access" ON public.assignments;
DROP POLICY IF EXISTS "Allow public insert" ON public.assignments;
DROP POLICY IF EXISTS "Allow public update" ON public.assignments;
DROP POLICY IF EXISTS "Allow public delete" ON public.assignments;

CREATE POLICY "Allow public read access" ON public.assignments FOR SELECT USING (true);
CREATE POLICY "Allow public insert" ON public.assignments FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow public update" ON public.assignments FOR UPDATE USING (true);
CREATE POLICY "Allow public delete" ON public.assignments FOR DELETE USING (true);

-- Re-create simple "Allow All" policies for Exam Sessions
DROP POLICY IF EXISTS "Allow public read access" ON public.exam_sessions;
DROP POLICY IF EXISTS "Allow public insert" ON public.exam_sessions;
DROP POLICY IF EXISTS "Allow public update" ON public.exam_sessions;
DROP POLICY IF EXISTS "Allow public delete" ON public.exam_sessions;

CREATE POLICY "Allow public read access" ON public.exam_sessions FOR SELECT USING (true);
CREATE POLICY "Allow public insert" ON public.exam_sessions FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow public update" ON public.exam_sessions FOR UPDATE USING (true);
CREATE POLICY "Allow public delete" ON public.exam_sessions FOR DELETE USING (true);

COMMIT;
-- FORCE RESET Permissions for System Settings
-- This script fixes the "new row violates row-level security policy" error.

BEGIN;

-- 1. Ensure RLS is enabled (standard) or disabled (if you accept that)
-- We will ENABLE it but add a policy that allows EVERYTHING.
ALTER TABLE public.system_settings ENABLE ROW LEVEL SECURITY;

-- 2. Drop potential blocking policies (Cleanup old ones)
DROP POLICY IF EXISTS "Allow public read access" ON public.system_settings;
DROP POLICY IF EXISTS "Allow public insert" ON public.system_settings;
DROP POLICY IF EXISTS "Allow public update" ON public.system_settings;
DROP POLICY IF EXISTS "Allow all for authenticated" ON public.system_settings;
DROP POLICY IF EXISTS "Enable read access for all users" ON public.system_settings;
DROP POLICY IF EXISTS "Enable insert for all users" ON public.system_settings;
DROP POLICY IF EXISTS "Enable update for all users" ON public.system_settings;
DROP POLICY IF EXISTS "Allow all actions" ON public.system_settings;

-- 3. Create ONE policy allowing ALL actions (Select, Insert, Update, Delete)
CREATE POLICY "Allow all actions" ON public.system_settings
FOR ALL
USING (true)
WITH CHECK (true);

COMMIT;
-- ========================================================
-- Migration 013: Staff & Room Feature Enhancements
-- ========================================================

-- 1. Feeding Mother support on Staff
ALTER TABLE staff
  ADD COLUMN IF NOT EXISTS is_feeding_mother BOOLEAN DEFAULT false,
  ADD COLUMN IF NOT EXISTS feeding_mother_days INTEGER DEFAULT 0
  -- 0 = not applicable
  -- 2 = allowed to leave 2 hours early (FT: 1 day/2h or 2 days/1h, PT: 1 day/2h)
  -- feeding_days_used tracked at runtime via scheduling constraints
;

-- 2. Health Issue flag on Staff
ALTER TABLE staff
  ADD COLUMN IF NOT EXISTS has_health_issue BOOLEAN DEFAULT false;
-- Staff with this flag should be preferred for rooms in M or P buildings

-- 3. Staff Supervision Role
-- Replaces the narrow 'Head_Supervisor' | 'Assistant' distinction at the staff profile level
-- This represents what role they CAN serve, not the assignment role
ALTER TABLE staff
  ADD COLUMN IF NOT EXISTS supervision_role VARCHAR(30) DEFAULT 'Invigilator'
  CHECK (supervision_role IN ('Invigilator', 'Committees Supervisor', 'Exam Supervisor'));

-- 4. Update assignments table to support new roles
ALTER TABLE assignments
  DROP CONSTRAINT IF EXISTS assignments_role_check;

ALTER TABLE assignments
  ADD CONSTRAINT assignments_role_check
  CHECK (role IN ('Head_Supervisor', 'Assistant', 'Committees_Supervisor', 'Exam_Supervisor', 'Invigilator'));

-- 5. Add parsed room fields to rooms for easy querying
-- building_code = first character of room_name (e.g. M, P, A, B)
-- floor_number  = second character of room_name
-- room_number   = 3rd+4th characters of room_name
-- is_near_pharmacy = true if building_code IN ('M','P')
ALTER TABLE rooms
  ADD COLUMN IF NOT EXISTS building_code VARCHAR(5) GENERATED ALWAYS AS (UPPER(LEFT(room_name, 1))) STORED,
  ADD COLUMN IF NOT EXISTS is_near_pharmacy BOOLEAN GENERATED ALWAYS AS (UPPER(LEFT(room_name, 1)) IN ('M','P')) STORED;

-- Index for fast pharmacy-proximity queries
CREATE INDEX IF NOT EXISTS idx_rooms_near_pharmacy ON rooms(is_near_pharmacy);
CREATE INDEX IF NOT EXISTS idx_staff_health ON staff(has_health_issue);
CREATE INDEX IF NOT EXISTS idx_staff_feeding ON staff(is_feeding_mother);
-- Update rooms table parsed columns
ALTER TABLE rooms DROP COLUMN IF EXISTS building_code;
ALTER TABLE rooms DROP COLUMN IF EXISTS is_near_pharmacy;

ALTER TABLE rooms
  ADD COLUMN building_code VARCHAR(5) GENERATED ALWAYS AS (
    CASE 
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'computerlabm1%' THEN 'M1'
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'computerlabm2%' THEN 'M2'
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'computerlab%' THEN UPPER(SUBSTRING(REPLACE(LOWER(room_name), ' ', '') FROM 12 FOR 1))
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'm1%' THEN 'M1'
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'm2%' THEN 'M2'
      ELSE UPPER(LEFT(LTRIM(room_name), 1))
    END
  ) STORED,
  ADD COLUMN is_near_pharmacy BOOLEAN GENERATED ALWAYS AS (
    CASE 
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'computerlabm%' THEN true
      WHEN REPLACE(LOWER(room_name), ' ', '') LIKE 'computerlabp%' THEN true
      WHEN LOWER(LTRIM(room_name)) LIKE 'm%' THEN true
      WHEN LOWER(LTRIM(room_name)) LIKE 'p%' THEN true
      ELSE false
    END
  ) STORED;
-- Add 'Lecturer' properly to the job_title database constraint
ALTER TABLE staff DROP CONSTRAINT IF EXISTS staff_job_title_check;

ALTER TABLE staff ADD CONSTRAINT staff_job_title_check 
  CHECK (job_title IN ('Chemist', 'Demonstrator', 'Teaching Assistant', 'Lecturer'));

-- From 016_increase_role_varchar_length.sql --
-- Increase the length of the 'role' column in assignments to accommodate exactly 'Committees_Supervisor' which is 21 chars

ALTER TABLE assignments
  ALTER COLUMN role TYPE VARCHAR(50);

-- Allow Invigilator / Exam Supervisor dual role
ALTER TABLE staff DROP CONSTRAINT IF EXISTS staff_supervision_role_check;
ALTER TABLE staff ADD CONSTRAINT staff_supervision_role_check CHECK (supervision_role IN ('Invigilator', 'Committees Supervisor', 'Exam Supervisor', 'Invigilator / Exam Supervisor'));
